body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url(/assets/img/gym2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* THE BOTTOM OF THIS IS ALL HEADER CSS */
header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

h1.Name { 
    color: white;
    margin: 10px 10%;
}

.span1 {
    color: #e60000;
    font-size: larger;
}

Nav {
    margin: 10px;
    margin-right: 50px;
    padding: 10px 10px;
    width: fit-content;
}

a.nav-a {
    padding: 15px 30px;
    color: #e60000;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
    margin: 0 20px;
}

#a1:hover, #a2:hover, #a3:hover {
    color: #660000;
    transition: ease-in-out 0.3s;
}

#a4:visited {
    color: white;
}

#a4:active {
    color: white;

}

/* ABbove is header */

/* Bottom is main */

.global-holder {
    height: 100%;
    padding: 10%;
    font-family: 'Montserrat', sans-serif;
}

main {
    flex: 1;
}

.Contact-us {
    border: 1px solid red;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
}

/*The bottom is footer*/

footer {
    background-color: black;
    margin:0;
    padding: 30px;
    font-style: italic;
}

div.footer-holder {
    font-size:10px;
    color: white;
}





